@font-face {
  font-family: 'Kurbanistika';
  src: url('../fonts/kurbanistika.otf');
}
@font-face {
  font-family: 'Jura';
  src: url('../fonts/Jura-Regular.ttf');
}

@actionColor: #00BFFF;
@tooltip-background: #c5dbff;
@actionColorInteract: #0086ff;

//------------------------------------------------------------------------------------tooltip-settings------------------

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
  border-bottom-color: @tooltip-background !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: @tooltip-background !important;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
  border-left-color: @tooltip-background !important;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  border-right-color: @tooltip-background !important;
}

.tooltip > .tooltip-inner {
  background-color: @tooltip-background;
  color: black;
}

//----------------------------------------------------------------------------------------------------------------------

html,body {
  // vertical phones
  @media (min-width: 320px) {
    font-size: 16px;
    .insert {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 18px;
    .insert {
      justify-content: left;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

body {
  min-height: 100vh;
  position: relative;
}

body:after {
  content: '';
  height: 2rem;
  display: block;
}

* {
  font-family: Jura, sans-serif;
}

#main {
  > * {
    padding: 1rem 1.5rem;
  }
  > .row {
    margin: 0;
  }
  > section:nth-of-type(2n) {
    background-color: aliceblue;
  }
}

header, footer {
  padding: 0.5rem;
  background-color: steelblue;
  color: white;
}

header {
  height: 4rem;
  #logo {
    height: 100%;
    line-height: 3rem;
    text-decoration: none;
    color: white;
    img {
      height: 2.5rem;
    }
    span {
      font-family: Kurbanistika, sans-serif;
      font-size: 2.5rem;
    }
  }
  #page-title {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  #header-login {
    button {
      border: none;
      background-color: @actionColor;
      color: white;
      transition: ease-in-out;
      transition-duration: .25s;
      outline: 1px solid white;
    }
    button:hover {
      background-color: @actionColorInteract;
      outline: 2px solid white;
    }
  }
}

footer {
  height: 2rem;
  line-height: 1rem;
  position: absolute;
  bottom: 0;
}