@font-face {
  font-family: 'Kurbanistika';
  src: url('../fonts/kurbanistika.otf');
}
@font-face {
  font-family: 'Jura';
  src: url('../fonts/Jura-Regular.ttf');
}

//----------------------------------------------------------------------------------------------------------------------

html,body {
  // vertical phones
  @media (min-width: 320px) {
    font-size: 16px;
    .insert {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 18px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

body {
  min-height: 100vh;
  position: relative;
}

body:after {
  content: '';
  height: 2rem;
  display: block;
}

* {
  font-family: Jura, sans-serif;
}

#home {
  > section {
    padding: .5rem 1.5rem;
  }
  > section:nth-of-type(2n) {
    background-color: aliceblue;
  }
}

// ----------- VUE PROCESSED -------------\\

header, footer {
  padding: 0.5rem;
  background-color: steelblue;
  color: white;
}

.noHighlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}