@font-face {
  font-family: 'Kurbanistika';
  src: url('../fonts/kurbanistika.otf');
}
@font-face {
  font-family: 'Jura';
  src: url('../fonts/Jura-Regular.ttf');
}

//------------------------------------------------------------------------------------tooltip-settings------------------

//@tooltip-background: #006aff;
@tooltip-background: aliceblue;

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
  border-bottom-color: @tooltip-background !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: @tooltip-background !important;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
  border-left-color: @tooltip-background !important;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  border-right-color: @tooltip-background !important;
}

.tooltip > .tooltip-inner {
  background-color: @tooltip-background;
  color: black;
}

//----------------------------------------------------------------------------------------------------------------------

html,body {
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    font-size: 42px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 24px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 18px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

body {
  min-height: 100vh;
  position: relative;
}

* {
  font-family: Jura, sans-serif;
}

.main {
  > * {
    padding: 1rem 1.5rem;
  }
  > .row {
    margin: 0;
  }
  > section:nth-of-type(2n) {
    background-color: aliceblue;
  }
}

header, footer {
  padding: 0.5rem;
  background-color: steelblue;
  color: white;
}

header {
  height: 4rem;
  #logo {
    height: 100%;
    line-height: 3rem;
    img {
      height: 2.5rem;
    }
    span {
      font-family: Kurbanistika, sans-serif;
      font-size: 2.5rem;
    }
  }
}

footer {
  min-height: 2rem;
  line-height: 1rem;
  position: absolute;
  bottom: 0;
  #quotes {
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    span {
      color: white;
      font-size: 0.65em;
      opacity: 0.5;
    }
  }
  #quotes:hover {
    cursor: pointer;
  }
}

.pentaLink {
  display: inline-block;
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  //background-color: cyan;
  border-radius: 50%;
  img, object, svg {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .pL__fg {
    padding: 20%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .pL__bg {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
    fill: #00BFFF;
  }
}

.pentaLink:hover {
  .pL__bg, .pL__fg {
    transform: rotate(0deg) !important;
    fill: #0086ff;
  }
}