@font-face {
  font-family: 'Kurbanistika';
  src: url('../fonts/kurbanistika.otf');
}
@font-face {
  font-family: 'Jura';
  src: url('../fonts/Jura-Regular.ttf');
}

html,body {
  font-size: 18px;
}

* {
  font-family: Jura;
}

.main {
  > * {
    padding: 1rem 1.5rem;
  }
  > .row {
    margin: 0;
  }
  > section:nth-of-type(2n) {
    background-color: aliceblue;
  }
}

header {
  #logo {
    height: 100%;
    img {
      height: 3rem;
    }
    span {
      font-family: Kurbanistika;
      font-size: 3rem;
      color: white;
    }
    margin-left: -1rem;
  }
  height: 4rem;
  padding: 0.5rem;
  background-color: steelblue;
  //color: deepskyblue; #00BFFF
}

// TODO: fiddle around with the pentagon and make it more even >:C

.pentaLink {
  display: inline-block;
  position: relative;
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  //background-color: cyan;
  border-radius: 50%;
  img, object, svg {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .pL__fg {
    padding: 20%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .pL__bg {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: rotate(0deg);
  }
}

.pentaLink:hover {
  .pL__bg, .pL__fg {
    transform: rotate(0deg) !important;
  }
}